{% extends 'catalog/home.html' %}
{% load my_tags %}
{% block content %}

{% if user.is_authenticated %}

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% if products %}
            {% for product in products %}
        <div class="col">
          <div class="card shadow-sm">

            <div class="card-body">
              <p class="card-text"> Товар: {{product.name}}</p>
              <p class="card-text"> Описание товара: {{product.description}}</p>
              <p class="card-text"> Категория товара: {{product.category}}</p>
              <p class="card-text"> Цена: {{product.purchase_price}}</p>
              <p class="card-text"> Дата создания: {{product.created_at}}</p>
              <p class="card-text"> Дата последнего редактирования: {{product.updated_at}}</p>
              <p class="card-text"> {{product.publication_status}}</p>




                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% else %}
            <p>В данной категории продукты отсутствуют.</p>
        {% endif %}
<div class="d-flex justify-content-between align-items-center">
    <div class="btn-group">
        <a class="btn btn-primary" href="{% url 'catalog:category' %}">Назад</a>
    </div>
</div>
{% endif %}
{% endblock %}